.hero {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
  height: auto;
}
.land {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.btnbox {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
}

.headertxt {
  display: inline-block;
  font-size: xxx-large;
}
.Htxt {
  width: 45%;

  text-align: left;
}
.HTt {
  line-height: 2rem;
  font-size: 1.5rem;
}
.Himg {
  width: 45%;
}
.HIimg {
  width: 30vw;
  border-radius: 25px;
}

@media only screen and (max-width: 1200px) {
  .Htxt {
    width: 50%;
  }
  .btnbox {
    width: auto;
  }
}

@media only screen and (max-width: 900px) {
  .headertxt {
    font-size: xx-large;
  }
  .HTt {
    line-height: 1.2rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    padding: 3rem 2rem;

    flex-direction: column-reverse;
  }
  .Himg {
    width: auto;
  }
  .HIimg {
    width: 50vw;
  }
  .Htxt {
    width: auto;
  }
}
