.hero {
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.headertxt {
	display: inline-block;
	font-size: xxx-large;
}

.skills {
	color: #1f1926;
	background-color: #9b89b3;
}
