.skills {
  padding: 6rem 6rem;
  height: 60vh;
  margin-bottom: 3rem;
}

.skillbox {
  height: 50vh;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-areas: ". . .";
  gap: 1rem;
}
.skill {
  display: flex;
  gap: 1rem;
  width: fit-content;
  min-width: 11rem;
  min-height: 5rem;
  margin: auto;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  border: 2px solid var(--back-color);
}

.Sicon {
  width: 4rem;
}
.Stext {
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }
  .skillbox {
    height: auto;
  }
  .Sicon {
    width: 3rem;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .skills {
    padding: 6rem 2rem;
  }
  .skill {
    gap: 0.5rem;
    min-width: 7rem;
  }
}

@media only screen and (max-width: 400px) {
  .skillbox {
    grid-template-areas: ". .";
  }
  .Stext {
    font-size: 0.9rem;
  }
  .Sicon {
    width: 2rem;
  }
  .skill {
    min-width: auto;
    min-height: 4rem;
  }
}
