.card {
  min-width: 10rem;
  min-height: 12rem;
  color: var(--back-color);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 12px;
  border: 2px solid var(--back-color);
  padding: 10px;
  text-decoration: none;
  text-align: left;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  align-content: flex-start;
  justify-content: space-between;
}
.pbb {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;

  color: var(--white);
  border-radius: 6px;
  border: 2px solid var(--back-color);
}
.feats {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
