.header {
	display: flex;
	flex-direction: row;
	gap: 6rem;
	justify-content: space-between;
	padding: 2rem 6rem;
	box-shadow: 0px -5px 11px 2px var(--back-color);
	position: sticky;
	z-index: 5;
	top: 0;
	background-color: var(--black);
}

.linktxt {
	margin: 0%;
	font-weight: 700;
	font-size: 2rem;
	color: var(--white);
}

.drop {
	display: flex;
	align-content: center;
}

.linkarr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3rem;
}

.link {
	text-decoration: none;
	color: var(--dull);
	font-size: 1.25rem;
	align-self: center;
}

.link:hover {
	color: var(--back-color);
}

.menubtn {
	display: none;
}
