.header {
	display: flex;
	flex-direction: row;
	gap: 6rem;
	justify-content: space-between;
	padding: 1.25rem 2rem;
	box-shadow: 0px 0px 10px 2px var(--back-color);
}

.linktxt {
	margin: 0%;
	font-weight: 700;
	font-size: 2rem;
}

.linkarr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

.link {
	text-decoration: none;
	color: var(--dull);
	font-size: 1.25rem;
	align-self: center;
}

.link:hover {
	color: var(--back-color);
}
