:root {
	--back-color: #06bcc1;
	--black: #120d31;
	--dblack: #19133f;
	--white: #fcf7f8;
	--dull: #f0f8ffbf;
}

#root {
	font-family: "Lato", sans-serif;
	color: var(--dull);
	background-color: var(--black);
	height: 100%;
}

body {
	margin: 0%;
	height: 100%;
}
